
body{
  padding: 10px 50px 20px;
  background-color:#dae1e7;
  font-family:Arial, Helvetica, sans-serif;
  color: #142850;
}
hr {
  border-style: dotted none  none;
  border-width: 10px;
  border-color: grey;
  width: 10%;
}
h1{ color:#27496d;
  
}
h3{
  color: #00909e;
}

.tableEdu{
  margin: auto;
}
.tableEdu tr td {
  caption-side: top;
  border: 1px solid ;
  table-layout: auto;
  width: 250px;
  text-align: center;
}
th{
  color: #dae1e7;
  background-color: #27496d;
}
.tableSt{
  margin: auto;
}
